includes:
    - phpstan-baseline.neon
    - phar://phpstan.phar/conf/bleedingEdge.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-dangerous-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-execution-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-insecure-calls.neon

parameters:
    tmpDir: .cache/phpstan

    paths:
        - src
        - bootstrap
        - config

    type_coverage:
        return: 70
        param: 70
        property: 70
        constant: 100
        # also, how many files has declare strict types
        declare: 100

    type_perfect:
        null_over_false: true
        no_mixed: false
        narrow_param: false
        narrow_return: false

    cognitive_complexity:
        class: 125
        function: 52

    # The level ranges from 0 to 9 and the latter is the highest level
    # more info at https://phpstan.org/user-guide/rule-levels
    level: 5

    reportMaybesInPropertyPhpDocTypes: false
    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false

    # Optional for having a clickable link to PHPStorm
    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
