@charset "UTF-8";
:root {
  --sr-primary-color: #172d5d;
}

#softrules-form {
  display: block !important;
}
#softrules-form .card-body {
  padding: 20px;
  background-color: rgb(245, 245, 245);
}
#softrules-form .card-body .card-body {
  padding: 10px;
}
#softrules-form .card-header {
  color: var(--sr-primary-color);
  font-size: large;
  padding: 10px 0 !important;
  min-height: 40px;
  font-weight: bold;
  text-align: left;
}
#softrules-form .card-header[data-target][data-toggle=collapse] {
  cursor: pointer;
}
#softrules-form .card-header[data-target][data-toggle=collapse] .header-col {
  padding-left: 0;
}
#softrules-form .card-header[data-target][data-toggle=collapse] .header-col .fas {
  padding-right: 5px;
  min-width: 25px;
}
#softrules-form .card-header[data-toggle=collapse] .header-col .fas:before {
  content: "∨";
}
#softrules-form .card-header[data-toggle=collapse].collapsed .header-col .fas:before {
  content: ">";
}
#softrules-form .input-group {
  width: 100%;
}
#softrules-form .input-group-addon {
  width: 40px;
}
#softrules-form .sr-group-gridrow {
  margin-bottom: 15px;
}
#softrules-form .sr-label {
  font-size: 14px;
  font-weight: 100;
}
#softrules-form .sr-label-th {
  font-weight: bold;
}
#softrules-form .sr-question-help {
  font-size: 14pt;
  margin-top: 6px;
  color: #888;
  cursor: pointer;
}
#softrules-form .sr-table-td {
  border-top: 0;
}
#softrules-form .sr-align-left {
  text-align: left;
}
#softrules-form .sr-align-right {
  text-align: right;
}
#softrules-form .sr-align-center {
  text-align: center;
}
#softrules-form .waitScreen {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
#softrules-form .waitScreen .loadingscreen_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
#softrules-form .onoffswitch {
  position: relative;
  width: 54px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  margin-top: 8px;
  margin-bottom: 8px;
  float: left;
}
#softrules-form .onoffswitch label {
  margin: 0;
}
#softrules-form .switch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(55, 55, 55, 0.18);
}
#softrules-form .switch-label input {
  display: none !important;
}
#softrules-form .switch-label input:checked ~ .onoffswitch-inner {
  margin-left: 0;
}
#softrules-form .switch-label input:checked ~ .onoffswitch-switch {
  right: 3px;
  background: var(--sr-primary-color);
}
#softrules-form .switch-label input[disabled] ~ .onoffswitch-inner, #softrules-form .switch-label input[disabled] ~ .onoffswitch-switch {
  opacity: 0.9;
  cursor: not-allowed;
  background-color: #ddd;
}
#softrules-form .switch-label input[disabled] ~ .onoffswitch-inner::before, #softrules-form .switch-label input[disabled] ~ .onoffswitch-inner::after, #softrules-form .switch-label input[disabled] ~ .onoffswitch-switch::before, #softrules-form .switch-label input[disabled] ~ .onoffswitch-switch::after {
  background-color: #ddd;
}
#softrules-form .switch-label label.error {
  position: absolute;
  top: 25px;
  min-width: 250px;
}
#softrules-form .onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
#softrules-form .onoffswitch-inner::before, #softrules-form .onoffswitch-inner::after {
  display: block;
  float: left;
  width: 50%;
  height: 20px;
  padding: 0;
  line-height: 20px;
  font-size: 12px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: normal;
  box-sizing: border-box;
}
#softrules-form .onoffswitch-inner::before {
  content: "Ja";
  padding-left: 10px;
  background-color: var(--sr-primary-color);
}
[data-theme=default] #softrules-form .onoffswitch-inner::before {
  background-color: var(--sr-primary-color);
  color: black;
}
#softrules-form .onoffswitch-inner::after {
  content: "Nee";
  padding-right: 9px;
  background-color: #efefef;
  color: #888;
  text-align: right;
}
#softrules-form .onoffswitch-switch {
  display: block;
  width: 20px;
  height: 20px;
  margin: -1px -2px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 36px;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
  box-shadow: 0 1px 5px rgba(25, 25, 25, 0.15), 0 2px 2px rgba(85, 85, 85, 0.33);
}
#softrules-form .sr-group-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 33.3%));
  grid-gap: 10px 0;
}
#softrules-form .sr-group-grid .sr-group-grid {
  display: block;
  grid-gap: 0;
}
#softrules-form img {
  max-width: 100%;
}
#softrules-form [data-displaytype=kenteken] {
  background-color: #FECD23 !important;
  background-image: url(https://www.comparity.nl/img/kenteken_NL.svg) !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-position: left !important;
  outline: none;
  box-shadow: none !important;
  padding-left: 25px;
  height: 32px;
  padding-bottom: 5px;
  text-transform: uppercase !important;
  color: #000;
  font-weight: 700;
  overflow: hidden;
  border-radius: 3px !important;
  text-align: center !important;
  font-size: 11pt !important;
  width: 148px !important;
  flex: unset !important;
}
